/* Hero section */

#hero {
  padding-top: 300px;
  padding-bottom: 200px;
}

#hero span {
  font-size: 2rem;
}

/* Small and above */
@media (min-width: 576px) {
  #header {
    background-image: url('images/bg_hero_1920x800.jpg');
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    background-attachment: scroll;
  }

  #hero_message {
    margin-right: 3rem;
  }
}

/* large and above */
@media (min-width: 992px) {
  #header {
    background-size: cover;
    background-position: 75%;
  }
  #hero_message {
    margin-right: 7rem;
  }
}

