/* Top navigation */

#top_nav {
  background-color: #333533;
  padding-top: .7rem;
  padding-bottom: .7rem;
}

#top_nav_brand {
  color: #e8eddf;
  font-size: 1.25rem;
  font-weight: 400;
  letter-spacing: .5rem;
}

#top_nav_brand em {
  color: #f5cb5c;
}

#top_nav_brand:hover {
  border-bottom: 1px dashed #f5cb5c;
  margin-bottom: 0.5rem;
}

#top_nav_link {
  color: #e8eddf;
  text-decoration: none;
  font-size: 1.25rem;
  font-weight: 300;
  letter-spacing: .1rem;
}

#top_nav_link:hover {
  color: #f5cb5c;
}

.navbar-toggler {
  color: #cfdbd5;
}

.navbar-toggler.collapsed {
  color: #f5cb5c;
}

.navbar-toggler:focus {
  outline: none;
}

/* only for small devices */

@media (max-width: 369px) {
  #top_nav_brand {
    letter-spacing: .3rem;
    margin-right: 0;
  }
}
/* medium and above */
@media (min-width: 767px) {
  #top_nav {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

/* large and above */
@media (min-width: 992px) {

  #top_nav_brand:hover {
    color: #e8eddf;
    border-bottom: 1px dashed #f5cb5c;
    margin-bottom: 0;
  }

  #top_nav_link {
    color: #e8eddf;
  }

   #top_nav_link:hover {
    color: #e8eddf;
    border-bottom: 1px dashed #f5cb5c;
    padding-bottom: 0.3rem;
   }

}

